<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hike tracker</title>
</head>
<body>
    <header>
		<h1>Edit <%= hike.name %>'s Info</h1>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<h2>Hike Info:</h2>
		<form action="/<%= hike._id %>?_method=PUT" method="POST">
			<input type="text" name="name" value="<%= hike.name %>" /><br />
			<input type="text" name="distance" value="<%= hike.distance %>" /><br />
			<input type="text" name="difficulty" value="<%= hike.difficulty %>" /><br />
			<input type="text" name="Image" value="<%= hike.imageURL %>" /><br />
			<input type="submit" value="Update Hike" />
		</form>
	</main>
    
</body>
</html>