<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css">
	<title>Hike tracker</title>
</head>
<body>
    <header>
		<h1>Edit <%= hike.name %>'s Info</h1>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<h2>Hike Info:</h2>
		<form action="/<%= hike._id %>?_method=PUT" method="POST">
			<input type="text" name="name" value="<%= hike.name %>" /><br />
			<input type="text" name="distance" value="<%= hike.distance %>" /><br />
			<input type="text" name="difficulty" value="<%= hike.difficulty %>" /><br />
			<input type="text" name="img" value="<%= hike.img %>" /><br />
			<input type="submit" value="Update Hike" />
		</form>
	</main>
    
</body>
</html>