<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Barlow:600|Rasa:300,500" rel="stylesheet">
    <title>Hike Tracker</title>
</head>
<body>
    <header>
    <nav>
    
            <a href="/">Home</a>
            <br>
            <a href="/<%=hike._id%>/edit">Edit</a>
    </nav>
        <h1>Hike Info</h1>
        
    </header>
    <main>
        <div class="showimg">
            <img src="<%=hike.img %>">
        </div>

        <section>
            
            <ul class="showinfo">
                <li> <%= hike.name %> </li>
                <li> <%= hike.distance %> </li>
                <li> <%= hike.difficulty %> </li>
            </ul>
            
		</section>
        <section class="delete">
            <form action="/<%=hike._id%>?_method=DELETE" method="POST" class="showdel" >
                <input type="submit" value="Delete Hike" />
            </form>
    
        </section>
		
	</main>
</body>
</html>